<h1>All Species!</h1>

<div class="homeGrid">
<% @species.each do |species| %>
<div>
      <%= link_to image_tag(species.image, :class => "thumb", :id => species.id), species_path(species) %>
    <%= link_to species.genus, species_path(species) %>
  </div>
<% end %>

</div>
