<h1>All Users!</h1>

<ol>
<% @users.each do |user| %>
  <% if user.admin == false %>
    <li class="index"><%= link_to user.username, user %>
      <% if user.admin == true %>
        <%= image_tag "icon_admin.png", :class => "iconIndex" %>
        <% end %>
      <% if user.creator == true %>
        <%= image_tag "icon_artist.png", :class => "iconIndex" %>
      <% end %>
    </li>
  <% end %>
<% end %>
</ol>
