<div class="character_container">

<div class="accessories_selected" id="accessories_selected">

</div>
  <%= image_tag @default_image, :class => "character_feature", :id => "character_edit" %>
</div>
