<h1>New DINO!</h1>

<% if @character.errors.any? %>
<ol>
  <% @character.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ol>
<% end %>

<div class="create_character_grid">
  <div class="character_form">
    <%= render :partial => 'form' %>
  </div>
  <div class="character_edit">
    <%= image_tag @default_image, :id => "character_edit" %>
  </div>
</div>
