@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: snow;
}
.container {
  background-color: rgba(200, 255, 200, 1);
  max-width: 960px;
  margin: 0 auto;
  padding: 20px
}

nav {
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  vertical-align: top;
}

nav ul {
  display: inline-block;
}

h1, h2, h3 {
  font-family: 'Gloria Hallelujah', cursive;
}

.feature {
  max-width: 30em;
}

.character_container {
  max-width: 600px;
  position: relative;
}

.character_feature {
  width: 600px;
}

.character_accessory {
  width: 100px;
}

.thumb {
  max-width: 10em;
}

.icon {
  max-width: 5em;
}

.profile_image {
  border-radius: 100%;
  max-width: 10em;
  max-height: 10em;
}

.profile_image .thumb {
  max-width: 4em;
  max-height: 4em;
}

label,
input,
button {
  display: block;
  margin: 10px 0;
}

input {
  padding: 5px;
  max-width: 100%;
  box-sizing: border-box;
}

.create_character_grid {
  display: grid;
  grid-template-columns: 35% 65%;
  box-sizing: border-box;
}

.character_form {
  padding-right: 10px;
}

.character_edit {
  position: relative;
}

.accessory_item {
  display: inline-block;
}

.accessories_selected {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 80px;
}

.error {
  background-color: red;
  color: maroon;
}
