@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  color: #837b6f;
}

html {
  margin: 0;
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  background-image: linear-gradient(#ede8e2, #d6d3cc);
  box-sizing: border-box;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px
}

nav .logo {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 3em;
  text-align: left;
}

nav .profileIcon {
  width: 1em;
  height: 1em;
  border-radius: 100%;
}

.nav-padding {
  padding-right: 50px;
}

.bg-light {
  background-color: transparent;
}

h1, h2, h3, .title {
  font-family: 'Gloria Hallelujah', cursive;
}

.title {
  font-size: 2em;
}


.feature {
  max-width: 30em;
}



.thumb {
  max-width: 10em;
}

.icon {
  max-width: 5em;
}

.profile_image {
  border-radius: 100%;
  max-width: 3em;
  max-height: 3em;
}

.profile_image .thumb {
  max-width: 4em;
  max-height: 4em;
}

label,
input,
button {
  display: block;
  margin: 10px 0;
}

input {
  padding: 5px;
  max-width: 100%;
  box-sizing: border-box;
}

.create_character_grid {
  display: grid;
  grid-template-rows: auto auto auto auto;
  box-sizing: border-box;
}

.create_character_grid input[type="text"],
.create_character_grid input[type="number"],
.create_character_grid select {
  border-radius: 4px;
  width: 100%;
  border: none;
  background-color: #d5d1cb;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1.1em;
  padding: 5px 10px;
}

.create_character_grid input[type="submit"] {
  border-radius: 4px;
  padding: 5px 20px;
  border: none;
  color: #d5d1cb;
  background-color: #a1988c;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.4em;
  margin: 30px auto;
}

.create_character_grid input[type="submit"]:hover {
  color: #d5d1cb;
  background-color: #857c6f;
}



.character_form {
  margin: 0px 30%;
  margin-bottom: 40px;
}

.shopTitle {
  display: grid;
  grid-template-columns: auto auto;
}

.shopTitle .title {
  text-align: left;
}

.coin {
  font-size: 2em;
}

.coin img {
  width: 1em;
  height: 1em;
}

.coinCount {
  text-align: right;
  font-size: 2em;
}

.coinCount img {
  width: 1em;
}


.character_shop_grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content:space-around;
}

.character_shop input {
  display: none;
}

.character_shop label {
  cursor: pointer;
}

.accessory_checkbox {
  border-radius: 5px;
  background-color: #d3cfc9;
  width: 100px;
  height: 100px;
  position:relative;
  box-shadow: 0 0 20px rgba(133, 124, 111, 0.5);
}

.accessory_checkbox .accessory_checkbox_cost {
  position:absolute;
  bottom: -0.8em;
  right: 0;
}

.accessory_checkbox .accessory_checkbox_cost img {
  width: 1em;
  height: 1em;
}

.accessory_checkbox:hover {
  box-shadow: inset 0 0 40px rgba(133, 124, 111, 0.3), 0 0 20px rgba(133, 124, 111, 0.5);
}

.character_shop input:checked ~ .accessory_checkbox {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  border: 1px solid #f4efea;
  box-sizing: border-box;
}

.character_container {
  width: 600px;
  position: relative;
}

.character_feature {
  width: 600px;
}

.character_accessory {
  position: absolute !important;

  width: 200px;
  height: 200px;
}

.character_edit {
  position: relative;
  text-align: left;
}

.accessory_item {

}

.accessories_selected {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 200px;
}

.error {
  box-shadow: inset 0 0 40px rgba(255, 40, 40, 0.5);
  color: maroon;
}

.centerContent {
  text-align: center;
}

.characterScroller {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  background-color: #e9e6e1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.characterScrollerInner {
  display: flex;

  width: auto;
  height: 250px;
}

.characterScroller img {
  max-width: 400px;
  height: 220px;
  margin: 30px;
}

.playGame {
  margin-top: 50px;
}
.playGame img {
  max-width: 200px;
}

.characterSelected {
  background-image: radial-gradient(white 20%, transparent 50%);
}

.characterDescription {
  padding: 0 20%;
}

.characterDisplay {
  margin: 0 auto;
  width: 600px;
}

.profile_grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.homeGrid {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
}

.characterImage {
  width: 300px;
}
